{{ template "header" .}}
{{if .ErrorFlag}}
<h5 class="text-danger mb-3">入力されたユーザー名またはメールアドレスは既に登録済みです。</h5>
{{end}}
<div class="d-flex justify-content-center align-items-center border border-warning border-5 mb-3">
    <h3 class="my-1">アクセスいただきありがとうございます。デモ用ログイン画面に遷移して頂けますと幸いです→</h3>
    <button class="btn btn-warning text-" type="button" onclick="location.href='/login'">デモ用ログイン</button>
</div>
<h4>ユーザーアイコンを選択してください。</h4>
{{range $n,$Num := .IconNumbersTochoose}}
<img src="images/sg{{$Num}}.png" class="border mb-1" width="75" height="75" onclick="iconClick('{{$Num}}')"
    id="sg{{$Num}}">
{{end}}
<h4 class="mt-2">下記項目を入力してください。</h4>
<form method="post" action="/regisration" onsubmit="return regisrationSubmitCheck()">
    <input type="hidden" name="iconNumber" id="inputIconNumber">
    <div class="form-group mt-4">
        <h5>ユーザー名</h5>
        <input type="text" class="form-control" id="userName" name="userName">
    </div>
    <div class="form-group mt-4">
        <h5>メールアドレス</h5>
        <input type="text" class="form-control" id="emailAddress" name="emailAddress">
    </div>
    <div class="form-group mt-4">
        <h5>パスワード(6桁以上)</h5>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary mb-2 mt-3">Create Account</button>
</form>
{{ template "footer" .}}